:root {
  --color-black: #000000;
  --color-black-light: #4D4747;
  --color-black-dark: #363232;
  --color-white: #FFFFFF;
  --color-red: #FA2828;
  --color-red-light: #FF5252;
  --color-grey: #C4C4C4;
  --color-grey-light: #E5E5E5;
  --color-grey-dark: #988F8F;
}